extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        
        h1 Chris Carver
        
        p Full Stack JavaScript Developer


        .about-bio

         
          p I learned the basics of programming in Oct. 2020 when I took "Python for Everybody". After mastering the basics of python, I moved on to Front end web devolopment were I learned the basics of HTML, CSS, and basic Javascript.
          p I started my Full Stack Javascript Tech Degree Program thru Team Treehouse in June of 2021. In my Tech Degree Program I learned everything from basic javascript to more advanced stuff including: OOP, API, Node.js and Express, React, and SQL. 
          h3 Insert Tech degree below:
          img(src="/static/img/techDegree.jpg" alt="Insert Tech Degree Here")

      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Atom.io
          li Accessibility
          li Regex or Regular Expressions
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li 406-478-3260
          li ckc_80@outlook.com

        a.btn-link(href='https://www.linkedin.com/in/christopher-carver-5366871bb/', target='_blank') LinkedIn
        a.btn-link(href='https://github.com/ccarver80', target='_blank') GitHub
        a.btn-link(href='https://twitter.com/codingCarver', target='_blank') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back