extends layout.pug

block content

  article.portfolio-intro

    
    h1 Full Stack JavaScript Developer

    
    p These are my portfolio projects starting from most recent.


  article.portfolio-project-thumbs
    .projects-box.box.grid
      each val in data.projects
        .cell
          //- Taking projects.length and subtracting the val.id - 1 makes it so I can list my projects in reverse order. 
          a(href= `project/${(data.projects.length - val.id) - 1}`)
              img.thumbnail(src= val.image_url[0], alt='')
              h5= val.project_name



